* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $corporativeFont;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    &:hover{
        cursor: pointer !important;
    }
}

//Grid Area
[class^="col-"] {
    padding: 15px !important;
}

.col-1 {
    //width: 8.33%;
    width: 100%;
}

.col-2 {
    //width: 16.66%;
    width: 100%;
}

.col-3 {
    //width: 25%;
    width: 100%;
}

.col-4 {
    //width: 33.33%;
    width: 100%;
}

.col-5 {
    //width: 41.66%;
    width: 100%;
}

.col-6 {
    //width: 50%;
    width: 100%;
}

.col-7 {
    //width: 58.33%;
    width: 100%;
}

.col-8 {
    //width: 66.66%;
    width: 100%;
}

.col-9 {
    //width: 75%;
    width: 100%;
}

.col-10 {
    //width: 83.33%;
    width: 100%;
}

.col-11 {
    //width: 91.66%;
    width: 100%;
}

.col-12 {
    //width: 100%;
    width: 100%;
}


/*Custom Clases*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.invisible{
    display: none;
}

.selected{
    color: #8F1D1D !important;
}

.fondo{
    background-color: rgba(225, 231, 242, 0.3) !important;
}

// @media (min-width: 576px) { ... }
// @media (min-width: 768px) { ... }
// @media (min-width: 992px) { ... }
// @media (min-width: 1200px) { ... }